body {
    background-color: aliceblue;
}

button {
    background-color: greenyellow;
    align-content: center;
    padding: 5px;
    font-weight: bold;
    margin: 5px;
}

h2 {
    color: purple;
    padding: 3px;
}

header {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: blue;
    padding: 10px;
}

section {
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
}

div {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    border: 3px solid black;
    padding: 5px;
    margin: 10px;
}